.vscode/tasks.json
vscode.code-workspace
build
.local
.DS_Store
**/__pycache__
**/#*
paper.pdf
.env
workspace.code-workspace
**/ng*.html
**/ng*.trace
*.vtk
doc/paper.md
doc/paper.aux
doc/paper.bcf
doc/paper.fdb_latexmk
doc/paper.fls
doc/paper.log
doc/paper.out
doc/paper.run.xml
doc/paper.synctex.gz
doc/paper.tex
doc/betterbib_cache.sqlite
demos/local
doc/feature-details.pdf
doc/literature.pdf
doc/sphinx/xfem_doc
doc/sphinx/xfem_doc/**
doc/sphinx/jupyter/*.ipynb
doc/sphinx/jupyter/*.vtk
doc/sphinx/jupyter/*.vtu
doc/sphinx/jupyter/.ipynb_checkpoints
doc/jupyter_execute
**/*.orig
**.orig
**~
html/**
xfem.egg-info/**
jupyter_execute/**
dist/**
python/_version.py
