.vscode/tasks.json
vscode.code-workspace
build
.local
.DS_Store
**/__pycache__
**/#*
paper.pdf
.env
workspace.code-workspace
**/ng*.html
**/ng*.trace
*.vtk
doc/paper.md
doc/paper.aux
doc/paper.bcf
doc/paper.fdb_latexmk
doc/paper.fls
doc/paper.log
doc/paper.out
doc/paper.run.xml
doc/paper.synctex.gz
doc/paper.tex
doc/betterbib_cache.sqlite
demos/local
doc/feature-details.pdf
doc/literature.pdf
**/*.orig
